body {
  background-color: white;
}
.container-counter {
  background-color: aqua;
}

.more {
  color: solid black;
  font-size: 30px;
}

.less {
  background-color: white;
  color: solid black;
  font-size: 30px;
}

.number {
  font-size: 30px;
}
